<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <alwaysAllowedUrls>
                    <add url="/transaction" />
                </alwaysAllowedUrls>
                <requestLimits maxQueryString="99999" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
